<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/change-user-password-page.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Please, choose your new password</title>
</head>
<body page="change-user-password">
    
    <div class="mainDiv">
        <div class="cardStyle" id="formContainer">
            
            <form action="" method="post" name="signupForm" id="signupForm">
            
                <div class="message-container" id="msgAlert">
                    <pre id="statusMessage"></pre>
                </div>
                
                <img src="/img/padlock.png" id="signupLogo"/>
                
                <h2 class="formTitle">
                Choose your new password
                </h2>
                
                <div class="inputDiv">
                    <label class="inputLabel" for="password">New password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <div class="inputDiv">
                    <label class="inputLabel" for="confirmPassword">Repeat your new password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword">
                </div>
            
                <div class="buttonWrapper">
                    <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Submit</span>
                    <span id="loader"></span>
                    </button>
                </div>
            
            </form>

        </div>

        <div class="cardStyle" id="noTokenDiv">
            <span class="no-token-span">Token is missing</span>
        </div>
    </div>

</body>
</html>