<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>User verification</title>
</head>
<body page="user-verification">
    
    <div class="status-message">
        <h2>User email verification</h2>

        <pre><%= message %></pre>
    </div>

</body>
</html>